services:
  grafana:
    image: "{{ grafana_image }}"
    container_name: grafana
    restart: unless-stopped
    ports:
      - "{{ grafana_port}}:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
      - GF_INSTALL_PLUGINS={{ grafana_plugins | join(',') }}
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  grafana_data: {}