#cloud-config

users:
- name: ansible
  groups: sudo
  shell: /bin/bash
  sudo: ALL=(ALL) NOPASSWD:ALL
  lock_passwd: true
  ssh_authorized_keys:
  - ${ansible_ssh_key}

ssh_pwauth: false
disable_root: true

packages:
- qemu-guest-agent

write_files:
- path: /etc/ssh/sshd_config.d/99-ansible-hardening.conf
  owner: root:root
  permissions: '0644'
  content: |
    PermitRootLogin no
    PasswordAuthentication no
    PubkeyAuthentication yes
    KbdInteractiveAuthentication no

runcmd:
- systemctl enable qemu-guest-agent
- systemctl start qemu-guest-agent
- systemctl restart ssh
