- name: Deploy docker-compose for prometheus
  ansible.builtin.template:
    src: docker-compose.yml.j2 
    dest: /opt/prometheus/docker-compose.yml
    owner: root
    group: root
    mode: '0644'

- name: Deploy prometheus.yml for prometheus
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /opt/prometheus/prometheus.yml
    owner: root
    group: root
    mode: '0644'
  notify: Reload prometheus config